/* .App {
  text-align: center;
  background-color: blue;
  height: 1000vh;
  width: 270vh;
}

#title {
  background-color: rgb(37, 228, 20);
  height: 120px;
  width: 270vh;
  padding-top: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

#show {
  display: inline-flex;
}

#clr {
  background-color: rgb(209, 183, 148);
  width: 30vw;

  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#fvrt {
  list-style: none;
  background-color: red;

  margin-right: 10rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#description {
  margin: 0;
  background-color: rgb(248, 240, 240);
  width: 100vw;
  height: 60rem;
  color: rgb(2, 2, 2);
  align-content: center;
}

#description img {
  display: inline;
  float: left;
  padding-left: 20px;
}
#description p {
  font-style: italic;
  display: inline;
}
.bold {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  float: left;
  padding: 10px;
  margin-left: 5%;
}

#home {
  margin: 0 20rem;
  float: inline-end;
}
#btn {
  background-color: rgb(22, 212, 149);
  width: 30rem;
  margin-left: 40rem;
  margin-top: 10rem;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #686868;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
