.App {
  text-align: center;
  background-color: blue;
  height: 1000vh;
  width: 270vh;
  

}
#title{
background-color: rgb(37, 228, 20);
height: 70px;
width: 270vh;
padding-top: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
} 


#show{
 display: inline-flex;
}
#clr{
  background-color: rgb(209, 183, 148);
  width: 25vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
